table, th, td {
    border: 1px solid black;
}

#menuPlannerTitle {
    border-bottom: 1px black solid;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
}

#User {
    margin-left: 30%;
}



.day {
    margin: 0 0 5px 0;
}

#sunday {
    background-color: #1E90FF;
}

#monday {
    background-color: #778899;
}

#tuesday {
    background-color: rgb(255, 184, 30)
}

#wednesday {
    background-color: #1E90FF;
}

#thursday {
    background-color: #1E90FF;
}

#friday {
    background-color: #1E90FF;
}

#saturday {
    background-color: #1E90FF;
}
