
.jumbotron {
    background: rgb(94, 218, 187);
    color: white;
}

.display-4 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size:120px;
}

li {
    font-size:23px;
    font-family: 'Istok Web', sans-serif;

}

.btn-color {
    /* background:rgb(4, 160, 121); */
}

.foodName {
    text-align: center;
    margin-bottom: 0;
}

#breakfast-button, #lunch-button, #dinner-button, #stats {
    margin-bottom: 20px;
}

img {
    height: 100px;
    width: 150px;
    margin-left: 15px;
}

.dropdown-menu {
    width: 960px !important;
    height: 330px !important;
}

.dropdown-menu-right {
    margin-left: 300px;
}

#content {
    background: rgb(94, 218, 187);
    color: #f1f1f1;
    height:60%;
    width: 100%;
}

.card {
    margin-left: 18px;
    margin-bottom: 10px;
}

p {
    /* text-align: center; */
}

#calculate {
    float: right;
    margin-right: 0;
    margin-left: 10%;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}

#clear {
    float: right;
    margin-right: 0;
    margin-left: 30%;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}


#menuPlannerTitle {
    border-bottom: 1px black solid;
}

h1 {
    text-align: center;
}

#user-card {
    width: 178px;
}

#user {
    margin-left: 40%;
}

::-webkit-input-placeholder {
    text-align: center;
}

#login-button {
    margin-left: 10px;
    margin-right: 10px;
}

#calendar {
    margin: auto;
}

.day {
    border-radius: 15px;
    margin-bottom: 5px;
}

#sunday {
    background-color: rgb(248, 190, 190);
}

#monday {
    background-color: #6ab4ff;
}

#tuesday {
    background-color: rgb(255, 184, 30)
}

#wednesday {
    background-color: rgb(227, 110, 250);
}

#thursday {
    background-color: rgb(196, 250, 219);
}

#friday {
    background-color: rgb(188, 217, 247);
}

#saturday {
    background-color: rgb(250, 171, 171);
}

.foodBox {
    background-color: white;
    border-radius: 5px;
    height:150px;
    margin: 5px;
    width:226px;
}

.droparea:-moz-drag-over {
    border: 3px solid black;
  }

#weeklyMenuTitle {
    border-bottom: 2px solid black;
}

.dayText {
    font-family: 'Istok Web', sans-serif;
    font-size: 28px;
    position: relative;
    text-align: center;
    top:30%;
}

.category {
    font-size: 20px;
    font-weight:bold;
    margin:0 100px 0 10px;
    position:relative;
    left:25%;
}

#breakfast {
    margin-left:0;
}

#lunch {
    margin-left:5px;
}

#stats {
    margin-left: 30px;
}

.statsBox {
    left: 3%;
    line-height: 2.3;
    position: relative;
}

#weeklyMenuText {
    font-size: 35px;
}