table, th, td {
    border: 1px solid black;
}

#menuPlannerTitle {
    border-bottom: 1px black solid;
}

h1 {
    text-align: center;
}

p {
    margin: 0;
}

#User {
    margin-left: 30%;
}

.day {
    border-radius: 25px;
    margin: 0 0 10px 0;
}

#sunday {
    background-color: rgb(248, 242, 190);
}

#monday {
    background-color: #6ab4ff;
}

#tuesday {
    background-color: rgb(255, 184, 30)
}

#wednesday {
    background-color: rgb(227, 110, 250);
}

#thursday {
    background-color: rgb(196, 250, 219);
}

#friday {
    background-color: rgb(188, 217, 247);
}

#saturday {
    background-color: rgb(250, 171, 171);
}

.foodBox {
    background-color: white;
    border-radius: 25px;
    height:100px;
    margin:5px 10px 5px 5px;
    width:200px;
}

.col-2 {
    padding:0;
}

.row {
    margin:0;
}

#weeklyMenuTitle {
    border-bottom: 2px solid black;
}